@model AllPersonsProfileQueryModel


<form method="get">

    <div class="row">

        <div class="form-group col-md-3">
            <label asp-for="TypeOfWork"></label>
            <select asp-for="TypeOfWork" class="form-control">
                <option value="">All</option>

                @foreach (var TypeOfWork in Model.TypeOfWorks)
                {
                    <option value="@TypeOfWork">@TypeOfWork</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control mb-5" placeholder="Skills you have...">
        </div>

        <div class="form-group col-md-3">
            <label asp-for="Sorting"></label>
            <select asp-for="Sorting" class="form-control">
                <option value="0" selected>Date Registered</option>
                <option value="1" selected>Year</option>
                <option value="2" selected>Skills</option>

                @foreach (var TypeOfWork in Model.TypeOfWorks)
                {
                    <option value="@TypeOfWork">@TypeOfWork</option>
                }
            </select>
        </div>

        <div class="form-group col-md-3">
            <input type="submit" class="btn btn-primary d-none" placeholder="Search...">
        </div>
    </div>
</form>

<div class="row">
    @foreach (var profile in Model.Profiles)
    {
    <div class="col-md-4">
        <div class="card mb-3">
            <img class="card-img-top" src="@profile.Image" alt="">
            <div class="card-body">
                <h5 class="card-title">@profile.Firstname @profile.Lastname @profile.Age</h5>
                <p class="card-text">@profile.Skills</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    }
</div>


