@model IEnumerable<PersonProfilesServicesModel>

<div class="row">
    @foreach (var profile in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@profile.Image" alt="">
                <div class="card-body text-center">
                    <h5 class="card-title">@profile.Firstname @profile.Lastname @profile.Age</h5>
                    <p class="card-text">@profile.Skills</p>
                    <a asp-controller="PersonProfiles" asp-action="Details" asp-route-id="@profile.Id" class="btn btn-primary">Details</a>
                    @if (ViewBag.AllowPersonProfileEdit == true)
                    {
                        <a asp-controller="PersonProfiles" asp-action="Edit" asp-route-id="@profile.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="PersonProfiles" asp-action="Delete" asp-route-id="@profile.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    } 
</div>
